* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0D1B2A;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}



footer {

    background-color: #0D1B2A;
    text-align: center;
    padding: 20px;
    color: #3BAFDA;
    text-decoration: none;
    width: 100%;
    margin-top: auto;
}

.product-img{
        width: 100%;
        height: fit-content;
        border: 8px;
        margin-bottom: 10px;
    }

.card{
        background-color: #eae9e9;;
        border-radius: 10px;
        padding: 15px;
        text-align: center;
        max-width: 150px;
        height: auto;
        box-shadow: 0 2px 5px rgba(123, 117, 117, 0.1);
        font-size: 16px;
    }  

    .body-search {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }


a {
    text-decoration: #dadedf;
    color: #3BAFDA;

}

.img-logo {
    border-radius: 20px;

}

.buscador {
    background-color: #3BAFDA;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
}

.img-logo {
    margin-left: 15px;
    width: 125px;
    height: auto;
}

.barra {
    display: flex;
    align-items: center;
    margin-right: 15px;
}




ul.nombres {
    display: flex;
    justify-content: center;
    color: #3BAFDA;
    list-style-type: none;
}

.container-principal {
    display: flex;
    align-items: flex-start;
    align-items: stretch;
    background-color: #F4F4F9;
}

.barra22 {
    display: flex;
    align-items: flex-start;

}

aside {
    background-color: #0D1B2A;
    width: 200px;
    color: #3BAFDA;
    padding: 15px;
    min-height: 100vh;
    height: auto;
    margin-right: 30px;
    text-align: center;
    font-size: 18px;

}

.lista-aside {
    list-style-type: none;
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
    padding: 0;
    font-family: 'montserrat', sans-serif;
}

.lista-aside li {
    margin-bottom: 15px;

}



.container11 {
    padding: 20px;
    max-width: 1200px;

}


.container-celulares {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    background-color: #F4F4F9;
    justify-content: center;

}

.container-accesories {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    background-color: #F4F4F9;
    justify-content: center;

}

.resultados-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}








main section {
    margin-bottom: 50px;
}

main h2 {

    margin-bottom: 25px;
    padding-bottom: 5px;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
    text-align: center
}



article h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #151516;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
}

article h4 {
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #151516;
    font-family: 'mulish', sans-serif;

}

.iphone {
    border-radius: 20px;
    width: 100%;
    height: 100px;

}

body.register {
    background-color: #f5f6fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.formulario {
    align-items: center;
    padding: 40px 20px;
    justify-content: center;
}

.formulario-container {
    background-color: #1b1c30;
    padding: 60px 50px;
    border-radius: 12px;
    width: 100%;
    max-width: 420px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.formulario-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #0099CC;
    font-size: 30px;

}

label {
    margin-bottom: 6px;
    font-weight: 500px;
    color: #0077b6;
    font-size: 14px;
    max-width: 150px
}

.email {
    padding: 6px;
    margin-bottom: 18px;
    border: none;
    width: 100%;


}

.contrasena {

    margin-bottom: 18px;
    border: none;
    padding: 6px;
    width: 100%;

}





form.registro {
    display: flex;
    flex-direction: column;
}

.boton-container {

    text-align: center;
    padding: 12px;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 18px;
    font-weight: bold;


}

.ingresar {
    width: 100%;
    height: auto;
    background-color: #1b1c30;
    text-align: center;
    padding: 6px;
    border: none;
    color: #0077b6;
    font-weight: bold;
}

.registrarme {
    width: 100%;
    height: auto;
    background-color: #F3F3F5;
    text-align: center;
    padding: 6px;
    border: none;
    color: #3BAFDA;

}

.terminos {
    margin-right: 10px;
    background-color: #0077b6;
    color: #0077b6;

}

.terminos-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.login-link {
    margin-top: 25px;
    text-align: center;
    color: #0077b6;
    text-decoration: none;
}

.body-login {
    background-color: #F3F3F5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.producto111 {

    width: 600px;


}

.iphoneproducto {
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 5px;
    padding-top: 30px;
    width: 80%;
}

.producto {
    width: 60%;

}

.precio {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.stock {
    font-weight: bolder;
    padding-top: 1%;
}

.review {
    background-color: #E3F6FF;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    display: grid;
    width: 60%;
    box-sizing: border-box;
    border: 2px solid #000000;
    box-shadow: 0 2px 5px rgba(123, 117, 117, 0.1);
}

.producto2 {
    background: #eae9e9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(123, 117, 117, 0.1);
    padding: 15px;
    width: 200px;
    text-align: center;
    font-size: 13px;
    font-family: 'nunito sans', sans-serif;
}

.categoryhead {
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 5px;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
}

.boxa {
    padding: 20px;
    max-width: 1200px;

}

.Iphone5 {
    border-radius: 20px;
    width: 100%;
    height: 100px;
}

.container15 {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    background-color: #F4F4F9;
    justify-content: center;
}

.review p+p {
    margin-top: 15px;
    margin-left: 5px;
}

.txtcomentario1 {
    margin-top: 10px;

}

@media (max-width: 600px) {

    header,
    footer,
    .container-principal,
    .boxa,
    .barra22 {
        flex-direction: wrap;
        width: 100%;
    }

    .producto2 {
        width: 100%;
        margin: 10px 0;
    }

    .categoryhead h1 {
        font-size: 120%;
    }

    .img-logo {
        width: 100px;
    }

    .busqueda input {
        width: 70%;
    }

    .card{
        background-color:#0077b6;
        border-radius: 10px;
        padding: 15px;
        text-align: center;

    }  

}