
header{
    background-color: #1E1E2F;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

footer{

  background-color: #1E1E2F;
    text-align: center;
    padding: 20px;
    color: #3BAFDA;
}


a{
    text-decoration: #dadedf;
    color: #3BAFDA;
    
}

.img-logo{
    border-radius: 20px;
    
}
.buscador{
    background-color: #3BAFDA;
    align-items: center;
    gap: 10px;
}

.img-logo{
    margin-left: 15px;
    width: 125px;
    height: auto ;
}

.barra{
    display: flex;
    align-items: center;
    margin-right: 15px;
}




ul.nombres{
    display: flex;
    justify-content: center;
    color: #3BAFDA;
}

.container-principal{
    display: flex;
    align-items: flex-start;
    align-items: stretch;
    background-color: #F4F4F9;
}

.barra22{
    display: flex;
    align-items: flex-start;
}

aside{
    background-color:#2C2C3A;
    width: 200px;
    color: #3BAFDA;
    padding: 15px;
    min-height: 100vh;
    height: auto;
    margin-right: 30px;
}



.container11{
    flex: 1;
    padding: 20px;
    max-width: 1200px;

}


.container2{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    background-color: #F4F4F9;
}

main section{
    margin-bottom: 50px;
}

main h2{
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 5px;
}

.producto1{
    background:#eae9e9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(123, 117, 117, 0.1);
    padding: 15px;  
    width: 200px;
}

.iphone{
    border-radius: 20px;
    width: 100%;
   height: auto;
    max-height: 180PX  ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.register{
  background-color: #1c1b1b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.formulario{
    align-items: center;
    padding: 40px 20px;
    justify-content: center;
}

.formulario-container{
    background-color: #171717;
    padding: 60px 50px;
    border-radius: 12px;
    width: 100%;
    max-width: 420px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.formulario-container h2{
    text-align: center;
    margin-bottom: 30px;
    color: #6f6060 ;
    font-size: 30px;

}

label{
    margin-bottom: 6px;
    font-weight: 500px;
    color: #d74b4b;
    font-size: 14px;
}

.email{
    padding: 12px;
    margin-bottom: 18px;
    border: none;
    border-radius: 6px;
    background-color: #f2dddd;
    color: aqua;
}

.contrasena{
    padding: 12px;
    margin-bottom: 18px;
    border: none;
    border-radius: 6px;
    background-color: #e68e8e;
    color: aqua;
}


form.registro{
    display: flex;
    flex-direction: column;
}

.boton-container{
    background-color:#3BAFDA;
    text-align: center;
    padding: 12px;
    border-radius: 6px;
    width: 100%;
    text-decoration: #3BAFDA;

}

.registrarme{
    background-color:#3BAFDA;
    text-align: center;
    padding: 6px;
}

.terminos{
    margin-right: 10px;
    background-color:#3BAFDA;

}

.terminos-container{
     display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.login-link{
     margin-top: 25px;
  text-align: center;
  color: #d74b4b;
  text-decoration: none;
}
.body-login {
  background-color: #1c1b1b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}